<a href="https://colab.research.google.com/github/manthanthakker/BitcoinPrediction/blob/master/CryptoScraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Scrape CryptoCurrency**

*   For Frequency (Daily, Hourly, Minute)
*   For all cryptocurrencies

Scrape BitCoinData RealTime using this API https://min-api.cryptocompare.com/

1. Create a trial account
2. Create a free token and fill it here
3. Fetch Latest Bitcoin data

# Bitcoin Scraper

In [1]:
from datetime import datetime
import pandas as pd
import requests


def convertTimeStampToUTC(data):
  from datetime import datetime
  return datetime.fromtimestamp(data)
  
def getURL(apiKey,cryptoSymbol,frequency,timestamp,MaxRecordsToGetOnEachCall):
  API_KEY='&api_key='+str(apiKey)
  limit='&limit='+str(MaxRecordsToGetOnEachCall)
  cryptoHeader='fsym='+str(cryptoSymbol)
  ouputCurrency='&tsym=USD'

  if(timestamp==""):
    url='https://min-api.cryptocompare.com/data/v2/histo'+frequency+'?'+cryptoHeader
  else:  
    url='https://min-api.cryptocompare.com/data/v2/histo'+frequency+'?'+cryptoHeader+'&toTs='+str(timestamp)

  return url+ouputCurrency+API_KEY+limit  


def getCryptoData(apikey,crypto,frequency,numOfTimesToHitApi,MaxRecordsToGetOnEachCall):
  numOfTimesToHitApi=5
  data=pd.DataFrame()
  nextTimeStamp=0

  for i in range(0,numOfTimesToHitApi):
    if(nextTimeStamp==0):
      url=getURL(apikey,crypto,frequency,"",MaxRecordsToGetOnEachCall)
    else:
      url=getURL(apikey,crypto,frequency,nextTimeStamp,MaxRecordsToGetOnEachCall)

    response = requests.get(url).json()
    partialData=pd.DataFrame(response.get('Data').get('Data'))
    nextTimeStamp=partialData['time'].min()-1
    data=pd.concat([data,partialData])


  data=data.sort_values(by=['time'],ignore_index=True)
  data['timeUTC']=data['time'].apply(convertTimeStampToUTC)
  data=data.reset_index(drop=True)
  return data

# Invoke BitCoin Scraper

In [2]:
## Parameters To Scrape Any Bitcoin Data

## API_KEY: Create a trial account on https://min-api.cryptocompare.com/ and create a API_KEY (Its free)
## Valid Values for crypto: BTC | ETH | XRP | BCH | BSV | LTC | EOS | XMR | ADA and Many More
## numOfTimesToHitApi: For Trial Account this is somwhere 1000 per second, which is sufficient here
## MaxRecordsToGetOnEachCall: Max is 2000
## frequency : Valid Options are  day|hour|minute

API_KEY=""
crypto="BTC"
numOfTimesToHitApi=5
MaxRecordsToGetOnEachCall=200
frequency="hour"

cryptoData=getCryptoData(API_KEY,crypto,frequency,numOfTimesToHitApi,MaxRecordsToGetOnEachCall)
cryptoData

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol,timeUTC
0,1680123600,28498.86,28307.25,28393.92,1362.48,3.870696e+07,28307.25,direct,,2023-03-29 17:00:00
1,1680127200,28426.33,28226.98,28307.25,1688.47,4.787018e+07,28399.09,direct,,2023-03-29 18:00:00
2,1680130800,28459.25,28325.74,28399.09,1219.40,3.463699e+07,28355.87,direct,,2023-03-29 19:00:00
3,1680134400,28465.41,28270.57,28355.87,1456.75,4.133524e+07,28339.63,direct,,2023-03-29 20:00:00
4,1680138000,28382.27,28260.03,28339.63,1319.92,3.739767e+07,28356.69,direct,,2023-03-29 21:00:00
...,...,...,...,...,...,...,...,...,...,...
1000,1683723600,28330.99,28054.77,28187.06,2853.19,8.043012e+07,28187.42,direct,,2023-05-10 09:00:00
1001,1683727200,28268.49,28074.33,28187.42,2074.16,5.844670e+07,28103.88,direct,,2023-05-10 10:00:00
1002,1683730800,28234.41,28101.68,28103.88,1371.38,3.861403e+07,28177.16,direct,,2023-05-10 11:00:00
1003,1683734400,28321.68,28169.09,28177.16,1696.71,4.792903e+07,28202.84,direct,,2023-05-10 12:00:00
1004,1683738000,28234.23,26849.01,28202.84,11922.91,3.261855e+08,27380.08,direct,,2023-05-10 13:00:00


Get Daily Bitcoin Rate

In [3]:
API_KEY=""
crypto="BTC"
numOfTimesToHitApi=5
MaxRecordsToGetOnEachCall=200
frequency="day"

cryptoData=getCryptoData(API_KEY,crypto,frequency,numOfTimesToHitApi,MaxRecordsToGetOnEachCall)
cryptoData

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol,timeUTC
0,1596931200,11802.93,11533.93,11770.77,19874.64,2.318303e+08,11686.34,direct,,2020-08-08 20:00:00
1,1597017600,12074.31,11640.41,11686.34,56105.27,6.678035e+08,11897.41,direct,,2020-08-09 20:00:00
2,1597104000,11940.40,11138.60,11897.41,62677.50,7.242273e+08,11389.01,direct,,2020-08-10 20:00:00
3,1597190400,11621.05,11182.80,11389.01,37568.86,4.307581e+08,11570.19,direct,,2020-08-11 20:00:00
4,1597276800,11795.34,11284.57,11570.19,42205.26,4.875647e+08,11790.68,direct,,2020-08-12 20:00:00
...,...,...,...,...,...,...,...,...,...,...
1000,1683331200,29857.86,28459.77,29550.84,24511.97,7.131925e+08,28943.94,direct,,2023-05-05 20:00:00
1001,1683417600,29207.72,28547.14,28943.94,16591.33,4.802422e+08,28574.43,direct,,2023-05-06 20:00:00
1002,1683504000,28785.25,27408.28,28574.43,40368.46,1.129557e+09,27781.00,direct,,2023-05-07 20:00:00
1003,1683590400,27962.92,27516.13,27781.00,22719.05,6.289928e+08,27679.75,direct,,2023-05-08 20:00:00
1004,1683676800,28330.99,26849.01,27679.75,30713.96,8.518300e+08,27377.27,direct,,2023-05-09 20:00:00

Get Every Minute of Bitcoin Price

In [4]:
API_KEY=""
crypto="BTC"
numOfTimesToHitApi=5
MaxRecordsToGetOnEachCall=200
frequency="minute"

cryptoData=getCryptoData(API_KEY,crypto,frequency,numOfTimesToHitApi,MaxRecordsToGetOnEachCall)
cryptoData

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol,timeUTC
0,1683680940,27786.33,27770.77,27774.05,9.391,260694.35,27786.33,direct,,2023-05-09 21:09:00
1,1683681000,27787.96,27783.94,27786.33,7.229,200732.30,27787.48,direct,,2023-05-09 21:10:00
2,1683681060,27797.93,27787.48,27787.48,11.640,323115.62,27794.53,direct,,2023-05-09 21:11:00
3,1683681120,27799.12,27792.02,27794.53,10.210,283543.34,27798.74,direct,,2023-05-09 21:12:00
4,1683681180,27800.68,27788.43,27798.74,21.500,597270.30,27790.21,direct,,2023-05-09 21:13:00
...,...,...,...,...,...,...,...,...,...,...
1000,1683740940,27459.42,27421.22,27426.36,40.270,1105158.26,27439.73,direct,,2023-05-10 13:49:00
1001,1683741000,27439.73,27395.80,27439.73,45.970,1260006.28,27396.52,direct,,2023-05-10 13:50:00
1002,1683741060,27396.52,27343.37,27396.52,48.530,1327589.79,27348.85,direct,,2023-05-10 13:51:00
1003,1683741120,27382.11,27347.03,27348.85,36.610,1001666.71,27380.27,direct,,2023-05-10 13:52:00
1004,1683741180,27380.27,27378.23,27380.27,0.000,0.00,27378.23,direct,,2023-05-10 13:53:00

Get Ethereum Price, frequency daily

In [5]:
API_KEY=""
crypto="ETH"
numOfTimesToHitApi=5
MaxRecordsToGetOnEachCall=200
frequency="day"

cryptoData=getCryptoData(API_KEY,crypto,frequency,numOfTimesToHitApi,MaxRecordsToGetOnEachCall)
cryptoData

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol,timeUTC
0,1596931200,400.32,384.27,397.56,333210.44,1.308285e+08,390.28,direct,,2020-08-08 20:00:00
1,1597017600,399.28,390.95,390.32,956341.34,3.784318e+08,395.71,multiply,BTC,2020-08-09 20:00:00
2,1597104000,398.33,366.89,395.84,550483.67,2.115753e+08,378.94,direct,,2020-08-10 20:00:00
3,1597190400,389.50,366.09,378.94,433691.32,1.655838e+08,387.19,direct,,2020-08-11 20:00:00
4,1597276800,431.71,377.01,387.19,812446.96,3.268565e+08,424.97,direct,,2020-08-12 20:00:00
...,...,...,...,...,...,...,...,...,...,...
1000,1683331200,2018.91,1867.16,1996.34,257036.36,4.962162e+08,1901.99,direct,,2023-05-05 20:00:00
1001,1683417600,1939.12,1877.69,1901.99,164140.81,3.136723e+08,1879.53,direct,,2023-05-06 20:00:00
1002,1683504000,1893.10,1816.30,1879.53,343925.14,6.387728e+08,1853.92,direct,,2023-05-07 20:00:00
1003,1683590400,1862.94,1838.42,1853.92,182197.16,3.366859e+08,1849.03,direct,,2023-05-08 20:00:00
1004,1683676800,1888.01,1791.85,1849.03,230519.16,4.263260e+08,1826.21,direct,,2023-05-09 20:00:00

In [0]:
|